<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container-fluid border-bottom">
    <div class="container-xxl">
        <div class="row">
            <div class="col-xxl-4">
                giwoot-jang
            </div>
            <div class="col-xxl-4">
                경매 검색
            </div>
            <div class="col-xxl-2">
                경매 등록
            </div>
            <div class="col-xxl">
                로그인
            </div>
        </div>
    </div>
</div>

</body>
</html>
