<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Simple Form</title>
</head>
<body>
<h1>User Feedback Form</h1>
<form action="#" method="post">
    <div>
        <label for="username">Name:</label>
        <input type="text" id="username" name="username" placeholder="Enter your name" required />
    </div>
    <div>
        <label for="feedback">Feedback:</label>
        <textarea id="feedback" name="feedback" placeholder="Enter your feedback" required></textarea>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
</body>
</html>
